body{
    font-family: 'Roboto', sans-serif;
    /*background: #F2F2F2;*/
}

a {
	text-decoration: none;
}

li {
    list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

.button {
	display: inline-block;
	padding: 14px 15px; 

	font: inherit;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;

	background-color: #000000;
	border: none;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/*@media (min-width: 768px) {
  body { 
  }
   {

  }
}*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.main-navigation-wrapper {
	margin-top: 15px;
}

.header-menu-login {
	padding: 0;
	margin: 0;
}

.main-logo {
	display: inline-block;
	background: #FFFFFF;
	/*width: 80px;*/
}

.header-menu-login {
	display: inline-block;
	font-size: 11px;
	line-height: 13px;
	/*width: 70px;*/
}

.signin {
    /*border: 1px solid #E0E0E0;*/
	/*border-radius: 2px;*/
	background: #FFFFFF;
	color: #1D1D1D; 
	text-align: center;
	margin-left: 35px;
	margin-right: 10px;	
}




.search input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    line-height: 24px;
    font-size: 16px;
    /*background-color: #F2F2F2;*/
    background-image: url(../img/Stores/search-2.svg);
    background-position: 10px 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search {
	margin-top: 30px;
	margin-bottom: 20px; 
}

.when-to {
	display: flex;
	font-size: 11px;
}

.When-to-1 {
	display: inline-block;
}

.asap {
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 2px;

	padding: 8px 15px;
	display: inline-block;
	margin-top: 8px;

	line-height: 24px;
    font-size: 13px;
}

.asap-2 {
	padding: 8px 10px;
	padding-right: 45px;
}

.when-to-item {
	margin-right: 15px;
}



.wrapper-mobile {
	max-width: 308px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}


/* --------------------------------------------------------main------------------------- */
.catalog-food {
	margin-top: 40px;
}
.name-food, .price, .description {
	margin: 0;
	margin-top: 5px;
}


.name-food {
	line-height: 24px;
    font-size: 16px;
}


.price {
	margin-bottom: 35px;
	line-height: 21px;
    font-size: 13px;
}
.description  {
	color: #626262;
	line-height: 21px;
    font-size: 14px;
}


/*--------------------------------------------footer----------------------------------------*/
footer {
	background: #262626;
	color: #FFFFFF;
}

footer a {
	color: #FFFFFF;
}

.main-logo-footer {
	padding-left: 5px;
	padding-top: 55px;
	padding-bottom: 40px;
	border-bottom: 1px solid #757575;
	
}


.language {
	background-color: #3B3B3B;
	background-image: url('../img/world-1.svg'),url('../img/Shape_1.svg');
	background-repeat: no-repeat;
	background-position: 25px 15px, 155px 20px; 


	padding: 15px 50px;

	padding-right: 75px;

	border: none;
	color: #FFFFFF;
	font-size: 13px;

	margin-top: 30px;
}


.green_octothorpe {
	color: #49A144;

}

.social-links {
	display: inline-block;
	margin: 0px;
	margin-bottom: 30px;
}

.social-link {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.social-link-facebook {
	background-image: url(../img/ic/24/social/facebook.svg);
}

.social-link-twitter {
	background-image: url(../img/ic/24/social/twitter.svg);
}

.social-link-instagram {
	background-image: url(../img/ic/24/social/instagram.svg);
}

.footer-link li{
	font-size: 13px;
	color: #FFFFFF;
	padding-bottom: 20px;
	font-style: normal;
	font-weight: normal;
	line-height: normal; 
}

.application {
	border-bottom: 1px solid #757575;
	border-top: 1px solid #757575;
	padding: 24px;
	margin: 20px 0;
}

.copyright li {
	font-size: 11px;
	padding-bottom: 24px;
}

/*.back-to-header {
	width: 64px;
	height: 64px;
	background-color: #59BD5A;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 240px;
}*/


.copyright {
	display: inline-block;
}

.back-to-header {
	position: relative;
}

.arrow-footer {
	display: inline-block;
	position: absolute;
	left: 240px;
	bottom: 10px;
	width: 64px;
	height: 64px;
	
	background-color: #59BD5A;
	background-image: url('../img/arrow-1.svg');
	background-position: center;
	background-repeat: no-repeat;

	border: none;
}